<form [formGroup]="permisoForm" (ngSubmit)="onSubmit()">

    <div class="form-group mb-3">
        <label for="usuarioId">Usuario</label>
        <select class="form-control" name="usuarioId" id="usuarioId" formControlName="usuarioId">
            <option [ngValue]="null">Seleccione un usuario</option>
            @for (usuario of usuarios$ | async; track $index) {
            <option [value]="usuario.id">{{usuario.nombre}} {{usuario.apellidos}}</option>
            }
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="nombreEmpleado"><b>Nombre Empleado</b></label>
        <input class="form-control" type="text" name="nombreEmpleado" id="nombreEmpleado" formControlName="nombreEmpleado">
    </div>

    <div class="form-group mb-3">
        <label for="apellidosEmpleado"><b>Apellidos Empleado</b></label>
        <input class="form-control" type="text" name="apellidosEmpleado" id="apellidosEmpleado" formControlName="apellidosEmpleado">
    </div>

    <div class="form-group mb-3">
        <label for="tipoPermisoId"><b>Tipo de Permiso</b></label>
        <select id="idTipoPermiso" class="form-control" formControlName="idTipoPermiso">
        <option [ngValue]="null" disabled>Seleccione un tipo</option>
        <option *ngFor="let tipo of tiposPermiso" [value]=tipo.id>
            {{ tipo.descripcion }}
        </option>
        </select>
    </div>

    <div class="form-group mb-3">
        <label for="fecha"><b>Fecha del Permiso</b></label>
        <input type="date" id="fecha" class="form-control" formControlName="fechaPermiso">
    </div>

    <button type="submit" class="btn btn-primary col-12" [disabled]="permisoForm.invalid">
        Guardar
    </button>


</form>