 <nav class="navbar navbar-expand-lg shadow p-3 mb-3">
  <div class="container-fluid">
    <!-- 
    <a class="navbar-brand" routerLink="/">
      <img src="" alt="Logo" width="25" height="25" />
    </a>
    -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/permisos" routerLinkActive="active" class="nav-link text-white">
            Permisos
          </a>
        </li>
        <!--
        <li class="nav-item">
          <a routerLink="/quotes" routerLinkActive="active" class="nav-link text-white">
            Cotizaciones
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>