 <nav class="navbar navbar-expand-lg shadow p-3 mb-3">
  <div class="container-fluid">
    <!-- 
    <a class="navbar-brand" routerLink="/">
      <img src="" alt="Logo" width="25" height="25" />
    </a>
    -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-white">
            Inicio
          </a>
        </li>
        @if (isEmpl$ | async) {
          <li class="nav-item">
          <a routerLink="/permisos" routerLinkActive="active" class="nav-link text-white">
            Permisos
          </a>
        </li>
        }
        @if (isSuper$ | async) {
          <li class="nav-item">
            <a routerLink="/spr-solicitudes" routerLinkActive="active" class="nav-link text-white">
              Administrar Solicitudes
            </a>
          </li>
        }
        @if (isSuper$ | async) {
          <li class="nav-item">
            <a routerLink="/adm-permisos" routerLinkActive="active" class="nav-link text-white">
              Administrar Permisos
            </a>
          </li>
        }
        @if (isSuper$ | async) {
          <li class="nav-item">
            <a routerLink="/adm-turnos" routerLinkActive="active" class="nav-link text-white">
              Administrar Turnos
            </a>
          </li>
        }
         @if (isSuper$ | async) {
          <li class="nav-item">
            <a routerLink="/adm-usuarios" routerLinkActive="active" class="nav-link text-white">
              Administrar Usuarios
            </a>
          </li>
        }
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <app-notification-badge></app-notification-badge>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">
            {{username$ |  async}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" (click)="onLogout()" style="cursor: pointer;">
            Salir
          </a>
        </li>
      </ul>
    </div>
      
  </div>
</nav>