

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="images/login.png"
          class="img-fluid" alt="Sample image">
      </div>
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        @if (listErrors && listErrors.length > 0) {
          @for (error of listErrors; track $index) {

            <div class="alert alert-danger" role="alert">
              {{error.message}}
            </div>
          }
        }
        <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
          

          <div class="divider d-flex align-items-center my-4">
            <p class="lead fw-normal mb-0 me-3">Iniciar Sesión</p>
          </div>

          <!-- Email input -->
          <div class="form-group mb-4">
            <label class="form-label" for="InputEmail">Email</label>
            <input type="email" class="form-control" id="InputEmail" formControlName="email"
              placeholder="Ingrese su Email" />
            <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched" class="text-danger">
              <div *ngIf="formLogin.get('email')?.hasError('required')">El email es requerido.</div>
              <div *ngIf="formLogin.get('email')?.hasError('email')">El formato del email es inválido.</div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-group mb-3">
            <label class="form-label" for="Password">Password</label>
            <input type="password" class="form-control" id="Password" formControlName="password"
              placeholder="Ingrese su contraseña" />
            <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched" class="text-danger">
              <div *ngIf="formLogin.get('password')?.hasError('required')">La contraseña es requerida.</div>
            </div>
          </div>

          

          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="formLogin.invalid">Login</button>
            <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                class="link-danger">Register</a></p> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  
</section>