<app-navbar></app-navbar>

<button *ngIf="!isAdmin" type="button" class="btn btn-primary m-3" (click)="addNewSolicitud()">
 Solicitar Permiso
</button>

<app-modal #SolicitudFormModal 
  [modalId]="('SolicitudFormModal')" 
  [modalTitle]="('Solicitar Permiso')">
  <div slot="body">
    <app-solicitudes-form 
      *ngIf="!isAdmin"
      [tiposPermiso]="listaTiposPermiso$ | async"
      (onSave)="recargarPermisos()">
    </app-solicitudes-form>
  </div>
</app-modal>

<app-modal #PermisoDetailsModal 
  [modalId]="('PermisoDetailsModal')" 
  [modalTitle]="('Detalles del Permiso')">
  <div slot="body">
    <app-permiso-details
    [permiso]="permisoSeleccionado">
    </app-permiso-details>
  </div>
</app-modal>

<app-card>
  <div slot="body">
  <app-permisos-table [permisos]="(listaDePermisos$ | async)" (onDelete)="recargarPermisos()" [isAdmin] = "(isAdmin)" (onDetails)="showDetails($event)"></app-permisos-table>  </div>
</app-card>

